* {
  margin: 0;
  padding: 0;
  background-color: rgb(188, 207, 201);
}
.container {
  display: flex;
  justify-content: center;
}

.slide {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  height: 40vh;
  overflow-x: hidden;
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  /* border: 5px solid black; */
}

.slide1 {
  background-image: url("img1.jpg");
}
.slide2 {
  background-image: url("img2.jpg");
}
.slide3 {
  background-image: url("img3.jpg");
}
.slide4 {
  background-image: url("img4.jpg");
}
.arrow {
  cursor: pointer;
  position: absolute;
  
  top: 23%;
  margin-top: -39px;
  width: 0;
  height: 0;
  border-style: solid;
}
#arrow-left {
  border-width: 15px 20px 15px 0;
  border-color: transparent rgb(255, 255, 255) transparent transparent;
  left: 0;
  margin-left: 70px;
}

#arrow-right {
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent rgb(255, 255, 255);
  right: 0;
  margin-right: 70px;
}

